@media (min-width: 992px) {

    .container_img {
        display: flex;
    }

    .content_image {
        height: 493px;
    }

    .content_image image {
        object-fit: cover;
        width: 100%;
    }

    .container_text {
        margin: -167px;
        padding-bottom: 337px;
    }

    .content_text {
        border: 3px solid #f2f2f2;
        text-align: start;
        z-index: 5;
        background-color: #FFFFFF;
        position: relative;
        height: auto;
        width: 563px;
        margin: auto;
    }

    .content_text_img {
        width: 100%;
        margin: 26px 0px 66px 0;
        padding: 0px 45px;
    }

    .content_text_border {
        background-color: #e65c12;
        border-top: 3px solid #e65c12;
        width: 154px;
        margin: 0px 0px 27px 60px;
    }

    .content_text_img img {
        object-fit: cover;
    }

    .content_text p {
        /* font-size: 12px; */
        padding: 0px 60px;
    }

    .content_text span {
        color: #e65c12;
    }

    .content_text p:nth-last-child(1) {
        color: #e65c12;
        font-weight: 600;
    }

    .about_container {

        /* font-family: 'Montserrat', sans-serif; */

    }

}

@media (max-width: 991px) {

    .image_not_show_mobile{
        display: none;
    }

}