.background_acting {
    background-image: url('/images/background_acting.jpg');
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 160px 0px 20px 0px;
}
.title_acting {
    color: #FFFF;
    font-size: 40px;
    bottom: 0;
}