.background_contact {
    background-color: #E65C12;
    color: #FFFFFF;
    padding-bottom: 40px;
}
.text_contact {
    font-size: 18px;
    padding: 40px;
    /* font-family: "",spinnaker,sans-serif; */
}
.text_contact p:nth-child(1) {
    margin-bottom: 0;

}
.text_contact span {
    /* font-family: helvetica-w02-light,sans-serif; */
    font-size: 12px;
    letter-spacing: 0.01em;
}
.form_contact {
    background-color: #FFFFFF;
    color: #0D1637;
    padding: 40px;
}
.form_contact label {
    font-size: 16px;
    padding: 0.375rem 0.75rem;
}
.form_contact h5 {
    letter-spacing: 0.05em;
    font-size: 16px;
    /* font-family: helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif; */
}
.bbt {
    border-bottom: 1px solid #0D1637;
    margin-bottom: 30px;
}
.form_contact input{
    border: 0;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form_contact input:focus-visible {
    outline: none;
    border: 1px solid rgb(0,173,239);
}
.form_contact textarea{
    border: 0;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form_contact button {
    background-color: #0D1637;
    font-size: 14px;
    /* font-family: basic,sans-serif; */
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
    color: #fff;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    border: 1px solid #0D1637;
    padding: 2px 21px;
}
.form_contact button:hover {
    background-color: #ff0000;
    border: 1px solid #ff0000;
}