.footer {
    background-color: #FFFFFF;
    padding-top: 50px;
    color: #1a2b6d
}
.footer_title {
    font-weight: 700;
    font-size: 17px;
}
.footer h3 {
    font-size: 26px;
    font-weight: 400;
}
.footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.footer ul li {
    padding: 4px 0;
}
.footer ul li a {
    color: #1a2b6d;
    text-decoration: none;
    transition: all .4s ease;
}
.footer ul li a:hover {
    color: #d41317
}
.footer_social_media {
    margin-top: 25px;
    margin-bottom: 20px;
}
.footer_social_media a {
    margin: 6px;
}
.footer_social_media svg {
    color: #FFFFFF;
    height: 32px
}
@media(max-width: 425px) {
    .footer_social_media  {
        text-align: center;
    }
  }
