@font-face {
  font-family: "Roboto";
  src: url('../fonts/Roboto-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif !important;
  width: 100%;
  height: 100%;
  overflow-x: hidden;

} 

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
