.header {
    background-color: #FFFFFF;
    width: 100%;
    height: 183px;
    text-align: justify;
    letter-spacing: 1px;
    padding: 2em 10%;
}

.nav_link{
    color: #1a2b6d;
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    transition: 0.4s ease 0s;
}
.nav_link:hover {
    color: #d41317;
}

.nav_link:hover .dropdown-menu {
    display: block;
}
.nav_dropdown_item {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 600;
    color: #1a2b6d;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    font-family: "Roboto", sans-serif;
}
.nav_dropdown_item:hover {
    color: #d41317;
}