.background_logo {
    background-color: #e65c12;
    padding-top: 21px;
}
.background_logo_attachment {
    background-image: url('/images/background_acting.jpg');
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 180px 0px 120px 0px;
}