.background_about_repeat {
    background-image: url('/images/manisfeto2.jpg');
    background-size: auto;
    background-repeat: repeat;
    background-position: center center;
    height: 425px;
}
.background_about {
    background-color: #e65c12;
    padding-top: 15px;
}
.container_about {
    padding: 10px 0px 40px 0px;
    background-color: #1a2b6d;
    color: #FFFFFF;
}
.container_about h1 {
    /* font-family:jura,sans-serif; */
    font-size: 26px;
    margin: 2em;
}
.content_text_about {
    font-size: 13px
}
.content_text_about p {
    margin-bottom: 0;
}
