.backgroud_orange {
    background-color: #E65C12;
    height: 149px;
    width: 100%;
}

.page_title {
    background-color: #FFFFFF;
    padding: 20px 40px;
    margin-top: -50px;
    /* font-family: spinnaker, sans-serif; */
    text-transform: uppercase;
    transition: width 2s;
    
}
.page_title h1 {
    font-weight: 0;
    color: #E65C12;
    font-size: 35px;
    letter-spacing: 0.01em;
    font-weight: normal;
}

.backgroud_grey {
    background-color: #F2F2F2;
    margin-bottom: 1%;
    /* height: 100vh; */
}

.line_orange {
    width: 120px;
    height: 5px;
    border-top: 3px solid #E65C12;
    margin-left: 40px;
    margin-top: 10px;
}

.button_back {
    background-color: #fb9068;
    border: 1px solid #fb9068;
    padding: 15px 30px;
    border-radius: 50px;
    color: #fff;
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
    margin-top: 20px;
}

.container_page_post p {
    margin-bottom: 2%;
    font-size: 16px;
    line-height: 1.2em;
    letter-spacing: normal;
    /* font-family: helvetica-w02-light, sans-serif; */
}