.container_services {
    border: 3px solid #f5bc9d;
    margin-top: 20px;
    margin-right: 40px;
    margin-bottom: 40px;
}
.content_services_text {
    background-color: #F2F2F2;
    padding: 20px;
    width: 100%;
    left: -25px;
    position: relative;
    top: -25px;
    height: auto;
}
.title_services {
    color: #E65C12;
    font-size: 24px;
}
.text_services {
    font-size:14px; 
    /* line-height:1.3em; */
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: start;
}

